<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GAME.Modules.Warframe.AlertScanner.Properties.Options" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WAM.Modules.AlertScanner.Properties.Options" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GAME.Modules.Warframe.AlertScanner.Properties.Options" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WAM.Modules.AlertScanner.Properties.Options" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
  <userSettings>
        <GAME.Modules.Warframe.AlertScanner.Properties.Options>
            <setting name="UserScanFrequence" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="UserSelectedPlatforms" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserNewActivitySound" serializeAs="String">
                <value/>
            </setting>
        </GAME.Modules.Warframe.AlertScanner.Properties.Options>
        <WAM.Modules.AlertScanner.Properties.Options>
            <setting name="ScanFrequence" serializeAs="String">
                <value>300</value>
            </setting>
        </WAM.Modules.AlertScanner.Properties.Options>
    </userSettings>
    <applicationSettings>
        <GAME.Modules.Warframe.AlertScanner.Properties.Options>
            <setting name="DefaultScanFrequence" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="DefaultFeedPC" serializeAs="String">
                <value>http://content.warframe.com/dynamic/rss.php</value>
            </setting>
            <setting name="DefaultFeedPS4" serializeAs="String">
                <value>http://content.ps4.warframe.com/dynamic/rss.php</value>
            </setting>
            <setting name="DefaultFeedXBoxOne" serializeAs="String">
                <value>http://content.xb1.warframe.com/dynamic/rss.php</value>
            </setting>
            <setting name="DefaultMinimumScanFrequence" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DefaultMaximumScanFrequence" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="DefaultSelectedPlatforms" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultNewActivitySound" serializeAs="String">
                <value>.\Resources\Sounds\Default-Alert_Alarm.mp3</value>
            </setting>
        </GAME.Modules.Warframe.AlertScanner.Properties.Options>
        <WAM.Modules.AlertScanner.Properties.Options>
            <setting name="FeedPC" serializeAs="String">
                <value>http://content.warframe.com/dynamic/rss.php</value>
            </setting>
            <setting name="FeedPS4" serializeAs="String">
                <value>http://content.ps4.warframe.com/dynamic/rss.php</value>
            </setting>
            <setting name="FeedXBoxOne" serializeAs="String">
                <value>http://content.xb1.warframe.com/dynamic/rss.php</value>
            </setting>
        </WAM.Modules.AlertScanner.Properties.Options>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
